@import 'styles/variables.scss';

.error__window {
    padding: 30px 55px;
    background-color: $background-error;
    width: 720px;
    height: 90px;
    border-radius: $modal-border-radius;
    position: fixed;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);

    &-title {
        color: $default-color;
        text-align: center;
        font-family: 'Noto Sans', sans-serif;;
        font-size: 20px;
    }
}