$background: #CBCBCB;
$background-button: #6346B4;
$background-button-active: #311F63;
$background-button-hover: #A88EF0;
$background-hover: #6346B4;
$background-error: #FF6565;
$default-color: #fff;
$text-primary: #000;
$box-shadow: 2px 4px 9.9px 0px rgba(0, 0, 0, 0.25);

$wrapper-width: 1400px;
$button-border-radius: 5px;
$modal-border-radius: 10px;

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$border-radius: 10px;